In [1]:
strings = ('str1', 'str2', 'str3')
# strings[0] = 'str0' 'tuple' object does not support item assignment - нельзя изменять элементы в коллекции

TypeError: 'tuple' object does not support item assignment

In [2]:
# 'tuple'этонабор данных который связан друг с другом
person = ('John','Silver', 22)
type(person)

tuple

In [3]:
# можно добавить подобные данные и через list это квадратные скобки
person_info = ['John','Silver', 22]
type(person_info)

list

In [4]:
# сколько элементов в кортеже
print (len(person))

3

In [5]:
# взять элемент по индексу
print (person [0])
print (person [-1])

John
22

In [6]:
# list можно переназначить для person_info
person_info[0]= 'Bob'

In [7]:
# list не могу переназначить для кортежа 'tuple' object does not support item assignment
person[0]= 'Bob'

TypeError: 'tuple' object does not support item assignment

In [10]:
# можно посчитать сколько элементов в tuple

person.count ('John')

1

In [13]:
# поиск по индесу в tuple
person.index (22)

2